OPENAI_API_KEY=
OPENAI_PROJECT_ID=
OPENAI_SERVICE_ACCOUNT_ID=
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
PORT=8000
ENVIRONMENT=development
CHROMA_DB_PATH=./storage/chroma_db
AI_SERVER_PUBLIC_URL=http://localhost:8000

